{% extends "_base.html" %}
{% block content %}
  <a href="{% url 'polls:index' %}"
     class="flex gap-2 text-gray-800 hover:text-gray-900 dark:text-white dark:hover:text-gray-200">
    <svg class="h-6 w-6 text-gray-800 dark:text-white"
         aria-hidden="true"
         xmlns="http://www.w3.org/2000/svg"
         width="24"
         height="24"
         fill="none"
         viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7" />
    </svg>
    <span>Back to polls</span>
  </a>
  <form action="{% url 'polls:vote' question.id %}"
        method="post"
        class="flex flex-col gap-4">
    {% csrf_token %}
    <h1 class="text-2xl text-white">{{ question.question_text }}</h1>
    {% if error_message %}<p class="text-red-500 font-bold">{{ error_message }}</p>{% endif %}
    <div class="flex flex-col gap-2">
      {% for choice in question.choice_set.all %}
        <div class="flex gap-1">
          <input type="radio"
                 name="choice"
                 id="choice{{ forloop.counter }}"
                 value="{{ choice.id }}"
                 class="h-4 w-4 border-gray-300 bg-gray-100 text-blue-600 focus:ring-2 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-blue-600" />
          <label for="choice{{ forloop.counter }}"
                 class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ choice.choice_text }}</label>
        </div>
      {% endfor %}
    </div>
    <button type="submit"
            class="me-2 mb-2 cursor-pointer rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Vote
    </button>
  </form>
{% endblock content %}
